<script type="text/javascript">
	window.currVersion = "1.0.0.29";
	window.plugUpdateContent =
		'<div class="yh" style="width:600px;"><h4 class="previeT">听说作业小助手更新啦！一起来看看都有哪些更新吧！</h4>\
			<p class=" ml20 f14" style="line-height:30px;">\
				1、增加跟读设置功能。<br />\
			    温馨提示：请您在下载的过程中关闭所有杀毒软件和安全卫士！<p />\
				注：如安装重启浏览器后仍不可使用，请点击如下帮助文档进行安装。<a href="http://bbs.ciwong.com/showtopic-16086.aspx" target="_blank">http://bbs.ciwong.com/showtopic-16086.aspx</a>\
			<p class="tc mt20"><a href="http://file.ciwong.com/xixi/uploadfile/soft/cwEvaluationSetup_v' + window.currVersion + '.exe" class="btn-big">点击下载</a></p>\
			<p class="tc red mt5">更新后，请重启您的浏览器再试</p>\
		</div>';
</script>