<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="vs:EnableBrowserLink" value="false"/>

  <!--memberCache缓存服务器地址-->
  <add key="CacheServerList" value="121.14.117.210:11211,121.14.117.237:11211"/>
  <add key="OpenMemcachedCache" value="0" />
  <add key="readUserImgDirPath" value="http://headimg.ciwong.com:8080"/>
</appSettings>