<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--用户-->
  <add name="AuthContext" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=user_info;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
  <add name="Master_AuthContext" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=user_info;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />

  <!--作业-->
  <add name="RoomWorkRead" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=roomwork;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
  <add name="RoomWorkWrite" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=roomwork;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />

  <!--维基-->
  <add name="wiki_question_read" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=wikiques;Persist Security Info=True;User ID=root;Password=root;Pooling=False;charset=utf8;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" />
  <add name="wiki_question_write" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=wikiques;Persist Security Info=True;User ID=root;Password=root;Pooling=False;charset=utf8;MAX Pool Size=2000;Min Pool Size=1;Connection Lifetime=30;" />
	<!--知识点-->
	<add name="wikipoint" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=wikipoint;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />

	<!--试卷-->
  <add name="RoomExaminationContext" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=roomexamination;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
  <add name="RoomExaminationReadContext" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=roomexamination;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;"/>

  <!--习网学习平台-->
  <add name="learning_platform_write" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_school_learning_platform;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
  <add name="learning_platform_read" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=cw_school_learning_platform;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />

 <!--维基题目(影响系统稳定性  有时需要有时候不需要)-->
  <add name="wikiquesconn" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.1.64;Initial Catalog=wikiques;Persist Security Info=True;User ID=root;Password=root;MAX Pool Size=2000;Min Pool Size=3;Connection Lifetime=30;Pooling=true;charset=utf8;" />
</connectionStrings>
