<?xml version="1.0" encoding="utf-8"?>

<siteSettings>
  <!-- 样式和脚本文件根目录 -->
  <style domain="/Content" />

  <!-- webApi地址 -->
  <webApi domain="http://192.168.1.63:10010" appId="1" />

  <!-- 电子书预览地址 -->
  <redirect>
    <!-- 教学设计 -->
    <add key="1,a5df23d4-c0fe-4629-b8d3-35288695136b" value="/teachingplan" />
    <!-- 导学案 -->
    <add key="2,09aca375-7634-42a8-a39e-098fee65c341" value="/guidance" />
    <!-- 知识点精讲 -->
    <add key="3,c4fab15f-a0a6-45b5-b116-b0f087cb7119" value="/knowledge" />
    <!-- 课件素材 -->
    <add key="4,40cafe50-68a6-11e4-a4b4-782bcb066f05" value="/courseware" />
    <!-- 试卷,微技能 -->
    <add key="5,18,1f693f76-02f5-4a40-861d-a8503df5183f" value="/paper" />
    <!-- 网校课程 -->
    <add key="6,17,a17f1a5a-72e8-4f28-90ce-4811277d50e0,a9cad590-ac3e-4a27-92ee-a2520c0f031b" value="http://shendu.6v68.com/coursestudy/home/index" />
    <!-- 电子报新闻 -->
    <add key="7,1daf88c8-cde8-4d81-94be-d42bc30f52ed" value="/news" />
    <!-- 同步讲练 -->
    <add key="9,2bea5300-972e-494f-b730-6cbc05f0a717" value="/synctrain" />
    <!-- 同步跟读 -->
    <add key="10,f0833ebe-6a8b-4cc1-a6b5-f4d47d93df35" value="/followread" />
    <!-- 听说模考 -->
    <add key="15,fcfd6131-cdb6-4eb8-9cb9-031f710a8f15" value="/listen" />
  </redirect>
</siteSettings>